@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-gradient-2);
}


header{
    background: var(--color-gradient-2);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 30px;
    padding-bottom: 52px;
}

.header_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_logo {
    img{

    }
}
.header_options {

    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 45svw;
    li{
        list-style: none;

        
    }
    a{
        font-family: "Montserrat-SemiBold";
        color: var(--color-1);
        text-decoration: none;
        font-size: 17px;
        display: flex;
        color: var(--font-color-1);
    }
}
.header_vectors{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    li{
        list-style: none;
    }
    a{

    }
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.line {
    flex-grow: 1;
    width: 90%;
    height: 2px;
    right: 5%;
    left: 5;
    background-color: var(--font-color-1);
    position: absolute;
    transform: translateY(-50%);
}

.navsubmenu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 70%;
    padding-top: 10px;
    padding-left: 94px;
    padding-right: 356px;
    gap:100px ;
    button {
        background-color: var(--font-color-2);
        color: var(--font-color-1);
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        font-family: "Montserrat-Medium";
    }

}

.textsubmenu {
    display: flex;
    width: 100%;
    height: auto;
    gap: 80px;
    color: var(--font-color-1);
    position: relative;
    font-size: 30px;
    p {
        font-size: 15px;
        font-family: "Montserrat-Light";
    }
}

.main{
    background: var(--color-gradient-2);
    display: flex;  
    padding: 25px;
    align-items: center;
    justify-content: left;
    img{
        display: flex;
        position: relative;
        width: 69svw;
        z-index: 0;
    }
}
.textmain{ 
    width: 42svw;
    height: 460px;
    right: 3svw;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--font-color-1);
    background:var(--font-color-2);
    color: var(--font-color-1);
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    z-index: 1;
    padding: 1.7svw;
    padding-right: 3.3svw;
    
    div{
        font-family: "Montserrat-Light";
        font-size: 1.5rem;
        padding-bottom: 124px;
  
    }
    h1{
        font-family: "Montserrat-semibold";
        font-size: 1.7rem;
        padding-bottom: 18.98px;
    }   

    p{
        font-family: "Montserrat-Medium";
        font-size: 1.5rem;
        padding-bottom: 18.98px;
    }
    button{
        width: 196.92px;
        height: 34.92px;
        display: flex;
        align-items: center;
        margin-left: 30%;
        margin-right: 30%;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
        border: none;
        color: var(--color-gradient-2);
        background: #D9D9D9;
        font-family: "Montserrat-Light";
        font-size: 24px;

    }
}

.subtitle{

    display: flex;
    padding-left: 51px;
    padding-top: 58px;
    color: white;
    font-family: "Montserrat-Medium";
    font-size: 1.94vw;

}

.container_fleximgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    padding-top: 59px;
    gap: 25px;
    .fleximg1   {
        display: flex;
        flex-direction: row;
        gap:1.875vw ;
        width: 100%;
        justify-content: center;
       
        div{
            display: flex;
            justify-content: space-between;
            padding: 7px;
            padding-top: 25px;
            padding-bottom: 25px;
            flex-direction: column;
            width:31.04vw ;
            height: 41.18vw;
            background-color: rgba(20, 94, 42, 1);
            border-radius: 2.08vw;
            
            img{
                width: 28.75vw;
                height: 19.72vw;
                display: flex;
                align-self: center;
            }
    
            h2{
                font-family: "Montserrat-SemiBold";
                font-size: 1.944vw;
                top: 23.47vw;
                display: flex;
                align-self: center;
                color: white;
            }
    
            p{
                top: 28.61vw;
                font-family: "Montserrat-Regular";
                font-size: 1.38vw;
                display: flex;
                align-self: center;
                color: rgb(255, 255, 255);
                width:28.47vw ;
                height: auto;
            }
    
            button{
                font-family: "Montserrat-Regular";
                font-size: 1.388vw;
                box-shadow: 0.8vw 0.9vw 10px rgba(0, 0, 0, 0.456);
                border: none;
                display: flex;
                align-self: center;
                top: 36.04vw ;
                width: 8.9vw;
                height: 2.7vw;
                justify-content: center;
                align-items: center;
                border-radius: 1.3vw;
                background-color: rgba(217, 217, 217, 1);
                color: black;
                cursor: pointer;
            }
    
            button:hover{
                background-color: rgb(185, 185, 185);
                color: rgb(39, 39, 39);
            }
    
    
        }
     }
    
    
    .fleximg2{
        display: flex;
        flex-direction: row;
        gap:1.875vw ;
        width: 100%;
        justify-content: center;
        
        div{
            border-radius: 2.08vw;
            display: flex;
            justify-content: space-between;
            padding: 7px;
            padding-top: 25px;
            padding-bottom: 25px;
            flex-direction: column;
            width:31.04vw ;
            height: 41.18vw;
            background-color: rgba(20, 94, 42, 1);
            
            img{
                top: 1.458vw;
                width: 28.75vw;
                height: 19.72vw;
                display: flex;
                align-self: center;
            }
    
            h2{
                font-family: "Montserrat-SemiBold";
                font-size: 1.944vw;
                top: 23.47vw;
                display: flex;
                align-self: center;
                color: white;
            }
    
            p{
                top: 28.61vw;
                font-family: "Montserrat-Regular";
                font-size: 1.38vw;
                display: flex;
                align-self: center;
                color: rgb(255, 255, 255);
                width:28.47vw ;
                height: auto;
            }
    
            button{
                font-family: "Montserrat-Regular";
                font-size: 1.388vw;
                box-shadow: 0.8vw 0.9vw 10px rgba(0, 0, 0, 0.456);
                border: none;
                display: flex;
                align-self: center;
                top: 36.04vw ;
                width: 8.9vw;
                height: 2.7vw;
                justify-content: center;
                align-items: center;
                border-radius: 1.3vw;
                background-color: rgba(217, 217, 217, 1);
                color: black;
                cursor: pointer;
            }
    
            button:hover{
                background-color: rgb(185, 185, 185);
                color: rgb(39, 39, 39);
            }
        }
    
        
    }
}


.footer{
    display: flex;
    flex-direction: column;
    padding-top: 88px;

}

.end{
    display: flex;
    flex-direction: column;
    gap: 23px;
    
    
    h2{
        font-size: 1.94vw; 
        font-family: "Montserrat-Bold";
        color: white;
        align-self: center;
        display: flex;

    }

    p{
        align-self: center;
        display: flex;
        color: white;
        font-family: "Montserrat-Regular";
        width: 60.138vw;
        font-size: 1.38vw;
        text-align: center;

        

    }

    img{
        padding-top: 56px;
        color: white;
        align-self: center;
        display: flex;
        width: 21.11vw;
        height: auto;

    }

}


.marca_agua{
    font-family: "Montserrat-Regular";
    padding-top: 29px;
    display: flex;
    font-size:  1.38vw;
    color: white;
    justify-content: left;

}

/************** version movil **********************/
@media (max-width: 960px){
    .navsubmenu{
        padding-top: 20px;
        padding-left: 40px;
        .textsubmenu{
            gap: 55px;
        }
    }
    .main{
        padding: 20px;
        padding-top: 40px;
    }
    .textmain{
        width: 350px;
        height: 250px;
        right: 20px;
        border-radius: 7px;
        padding: 15px;
        padding-right: 5px;
        gap: 15px;
        div{
            font-family: "Montserrat-Light";
            font-size: 20px;
            padding-bottom: 1px;
      
        }
        h1{
            font-family: "Montserrat-semibold";
            font-size: 15px;
            padding-bottom: 1px;
        }   
    
        p{
            font-family: "Montserrat-Medium";
            font-size: 14px;
            padding-bottom: 10px;
        }
        button{
            width: 120px;
            height: 100px;
            display: flex;
            margin-left: 30%;
            margin-right: 30%;
            padding-top: 0px;
            padding-left: 25px;
            padding-right: 20px;
            border-radius: 25px;
            border: none;
            color: var(--color-gradient-2);
            background: #D9D9D9;
            font-family: "Montserrat-Light";
            font-size: 12px;
        }
    }
}

@media (max-width: 576px){
    header{
        width: 100%;
    }
    .header_nav{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }
    .header_options {

        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-left: 5px;
        li{
            list-style: none;
    
            
        }
        a{
            font-family: "Montserrat-SemiBold";
            color: var(--color-1);
            text-decoration: none;
            font-size: 17px;
            display: flex;
            color: var(--font-color-1);
        }
    }
    .header_vectors{

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    
        li{
            list-style: none;
        }
        a{
    
        }
    }
    .main{
        padding: 20px;
    }
    .navsubmenu{
        width: 100%;
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 10px;
        button{
            padding: 0px 10px;
            font-size: 8.5px;
            border-radius: 3px;
        }
        .textsubmenu{
            gap: 4px;
            p {
                font-size: 8.5px;
                font-family: "Montserrat-Light";
            }
        }
    }
    .textmain{
        width: 170px;
        height: 120px;
        right: 20px;
        border-radius: 7px;
        padding: 7px;
        padding-right: 5px;
        gap: 10px;
        div{
            font-family: "Montserrat-Light";
            font-size: 8px;
            padding-bottom: 1px;
      
        }
        h1{
            font-family: "Montserrat-semibold";
            font-size: 8px;
            padding-bottom: 1px;
        }   
    
        p{
            font-family: "Montserrat-Medium";
            font-size: 7px;
            padding-bottom: 2px;
        }
        button{
            width: 50px;
            height: 10px;
            display: flex;
            margin-left: 35%;
            margin-right: 30%;
            padding-top: 0;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 25px;
            border: none;
            color: var(--color-gradient-2);
            background: #D9D9D9;
            font-family: "Montserrat-Light";
            font-size: 5px;
        }
    }
    .subtitle{
        padding-left: 20px;
        padding-top: 0px;
        font-size: 1.94vw;
    
    }
    .container_fleximgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        padding-top: 20px;
        gap: 5px;
        .fleximg1 {
            gap: 5px;

            div{
                display: flex;
                justify-content: space-between;
                padding: 5px;
                padding-top: 5px;
                padding-bottom: 7px;
                flex-direction: column;
                width:31.04vw ;
                height: 41.18vw;
            }
        }
        .fleximg2 {
            gap: 5px;
            div{
                display: flex;
                justify-content: space-between;
                padding: 5px;
                padding-top: 5px;
                padding-bottom: 7px;
                flex-direction: column;
                width:31.04vw ;
                height: 41.18vw;
            }
        }
    }
    .footer{
        padding-top: 20px;
    
    }
    .end{
        gap: 10px;
        img{
            padding-top: 10px;
        }
    }
}
.marca_agua{

    justify-content: left;

}