@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-gradient-2);
}


header{
    background: var(--color-gradient-2);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 30px;
    padding-bottom: 52px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.header_logo {
    img{

    }
}
.header_options {

    display: flex;
    flex-direction: row;
    gap: 50px;
    li{
        list-style: none;

        
    }
    a{
        font-family: "Montserrat-SemiBold";
        color: var(--color-1);
        text-decoration: none;
        font-size: 17px;
        display: flex;
        color: var(--font-color-1);
    }
}
.header_vectors{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    li{
        list-style: none;
    }
    a{

    }
}

.line {
    flex-grow: 1;
    width: 90%;
    height: 2px;
    right: 5%;
    left: 5;
    background-color: var(--font-color-1);
    position: absolute;
    transform: translateY(-50%);
}

.navsubmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-gradient-2);
    position: relative;
}



.contentsubmenu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 70%;
    padding-top: 12px;
    padding-left: 130px;
    padding-right: 345px;
    padding-bottom: 12px;
    gap:100px ;

    button {
        background-color: var(--font-color-2);
        color: var(--font-color-1);
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        font-family: "Montserrat-Medium";
    }
}



.textsubmenu {
    display: flex;
    gap: 80px;
    color: var(--font-color-1);
    position: relative;
    font-size: 30px;
    p {
        font-size: 15px;
        font-family: "Montserrat-Light";
    }
}

.main{
    background: var(--color-gradient-2);
    display: flex;  
    padding: 25px;
    align-items: center;
    justify-content: left;
    img{
        display: flex;
        width: 70svw;
        z-index: 0;
    }
}
.textmain{ 
    position: absolute; 
    width: 40%;
    height: 58%;
    right: 10%;
    background:var(--font-color-2);
    color: var(--font-color-1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 22px;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 32px;
    padding-bottom: 5px;
    gap:12px;
    z-index: 1;
    
    p:nth-child(1){
        font-family: "Montserrat-Light";
        position: absolute;
        font-size: 27px;
        top: 20px;
  
    }
    h1{
        font-family: "Montserrat-semibold";
        font-size: 25px;
    }   

    p{
        font-family: "Montserrat-Medium";
        position: relative;
        font-size: 22px;
    }
    button{
        position: relative;
        top: 5%;
        display: flex;
        justify-content: center;
        margin-left: 30%;
        margin-right: 30%;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
        border: none;
        color: var(--color-gradient-2);
        background: #D9D9D9;
        font-family: "Montserrat-Light";
        font-size: 24px;
    }
}

.subtitle{

    top: 60.55vw ;
    position: absolute;
    color: white;
    left: 3.54vw ;
    font-family: "Montserrat-Medium";
    font-size: 1.94vw;

}
.fleximg1   {
    top: 67.01vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:1.875vw ;
    width: 100%;
    justify-content: center;
   
    article{
        display: flex;
        flex-direction: column;
        width:31.04vw ;
        height: 41.18vw;
        background-color: rgba(20, 94, 42, 1);
        border-radius: 2.08vw;
        
        img{
            position: absolute;
            top: 1.458vw;
            width: 28.75vw;
            height: 19.72vw;
            display: flex;
            align-self: center;
        }

        h2{
            font-family: "Montserrat-SemiBold";
            font-size: 1.944vw;
            position: absolute;
            top: 23.47vw;
            display: flex;
            align-self: center;
            color: white;
        }

        p{
            position: absolute;
            top: 28.61vw;
            font-family: "Montserrat-Regular";
            font-size: 1.38vw;
            display: flex;
            align-self: center;
            color: rgb(255, 255, 255);
            width:28.47vw ;
            height: auto;
        }

        button{
            font-family: "Montserrat-Regular";
            font-size: 1.388vw;
            box-shadow: 0.8vw 0.9vw 10px rgba(0, 0, 0, 0.456);
            border: none;
            position: absolute;
            display: flex;
            align-self: center;
            top: 36.04vw ;
            width: 8.9vw;
            height: 2.7vw;
            justify-content: center;
            align-items: center;
            border-radius: 1.3vw;
            background-color: rgba(217, 217, 217, 1);
            color: black;
            cursor: pointer;
        }

        button:hover{
            background-color: rgb(185, 185, 185);
            color: rgb(39, 39, 39);
        }


    }
 }


.fleximg2{
    top: 109.93vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:1.875vw ;
    width: 100%;
    justify-content: center;
    
    article{
        border-radius: 2.08vw;
        display: flex;
        flex-direction: column;
        width:31.04vw ;
        height: 41.18vw;
        background-color: rgba(20, 94, 42, 1);
        
        img{
            position: absolute;
            top: 1.458vw;
            width: 28.75vw;
            height: 19.72vw;
            display: flex;
            align-self: center;
        }

        h2{
            font-family: "Montserrat-SemiBold";
            font-size: 1.944vw;
            position: absolute;
            top: 23.47vw;
            display: flex;
            align-self: center;
            color: white;
        }

        p{
            position: absolute;
            top: 28.61vw;
            font-family: "Montserrat-Regular";
            font-size: 1.38vw;
            display: flex;
            align-self: center;
            color: rgb(255, 255, 255);
            width:28.47vw ;
            height: auto;
        }

        button{
            font-family: "Montserrat-Regular";
            font-size: 1.388vw;
            box-shadow: 0.8vw 0.9vw 10px rgba(0, 0, 0, 0.456);
            border: none;
            position: absolute;
            display: flex;
            align-self: center;
            top: 36.04vw ;
            width: 8.9vw;
            height: 2.7vw;
            justify-content: center;
            align-items: center;
            border-radius: 1.3vw;
            background-color: rgba(217, 217, 217, 1);
            color: black;
            cursor: pointer;
        }

        button:hover{
            background-color: rgb(185, 185, 185);
            color: rgb(39, 39, 39);
        }
    }

    
}

.end{
    
    display: flex;
    flex-direction: column;
    
    
    h2{
        font-size: 1.94vw; 
        top: 157.22vw;
        position: absolute;
        font-family: "Montserrat-Bold";
        color: white;
        align-self: center;
        display: flex;

    }

    p{
        position: absolute;
        top: 161.18vw;
        align-self: center;
        display: flex;
        color: white;
        font-family: "Montserrat-Regular";
        width: 60.138vw;
        font-size: 1.38vw;
        text-align: center;

        

    }

    img{
        position: absolute;
        top: 170.069vw;
        color: white;
        align-self: center;
        display: flex;
        width: 21.11vw;
        height: auto;

    }

}


.marca_agua{
    font-family: "Montserrat-Regular";
    position: absolute;
    top: 175.138vw;
    left: 0.416vw;
    font-size:  1.38vw;
    color: white;
    padding-bottom: 1.1vw;

}

/************** version movil **********************/
@media (max-width: 960px){
    .contentsubmenu{
        padding-top: 12px;
        padding-left: 80px;
        padding-right: 345px;
        padding-bottom: 12px;

        button{
            padding: 2px 40px;
        }
    }

    
    .textsubmenu{
        gap: 30px;
    }
    
    
    .main{
        background: var(--color-gradient-2);
        display: flex;  
        padding: 25px;
        align-items: center;
        justify-content: left;
        img{
            display: flex;
            width: 80svw;
            z-index: 0;
            padding-right: 80px;
        }
    }
    
    .textmain{ 
        height: 270px;
        width: 380px;
        right: 25px;
    
        p:nth-child(1){
            font-family: "Montserrat-Light";
            position: absolute;
            font-size: 15px;
            top: 20px;
      
        }
        h1{
            font-family: "Montserrat-semibold";
            font-size: 15px;
        }   
    
        p{
            font-family: "Montserrat-Medium";
            position: relative;
            font-size: 12px;
        }
        button{
            position: relative;
            top: 5%;
            display: flex;
            justify-content: center;
            margin-left: 30%;
            margin-right: 30%;
            padding-top: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 25px;
            border: none;
            color: var(--color-gradient-2);
            background: #D9D9D9;
            font-family: "Montserrat-Light";
            font-size: 15px;
        }
    }
    .subtitle{
        top: 73vw;
    }
    
    .fleximg1{
        display: flex;
        position: relative;
        top: 12svh;
    }
    .fleximg2{
        display: flex;
        position: relative;
        top: 13.5svh;
    }
    .end{
        position: relative;
        top: -100svh;
    }
    .marca_agua{
        position: relative;
        top: 35svh;
        left: 10px;
    }
}


