@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid tomato;
}

body{
    background-color: rgba(30, 30, 30, 1);
}

    

.container{
    position: relative;
    width: 99vw;
    height: 140svh;
    background-image: linear-gradient(180deg, #376e401f, #071917cc),url(../storade/img/Rectangle.png);
    background-size: cover;
    background-position:center  ;
    background-repeat: no-repeat;
    margin: 0 auto;
}



.containerhead{
    position: absolute;
    width: 99svw;
    height: 64px;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat-SemiBold";
    color:var(--color-1);

    .imghead{
        position: absolute;
        width: 46px;
        height: 46px;
        left: 5px;
        top: 9px;
        
    }

    
    .Work {
        position: relative;
        width: 50px;
        height: 21px;
        left: 1305px;
        top: 21px;


    }

    .About {
        position: relative;
        width: 60px;
        height: 21px;
        left: 1480px;
        top: 21px;

    }

    .Blog {
        position: relative;
        width: 45px;
        height: 21px;
        left: 1640px;
        top: 21px;

    }
}

.containertext{
    position: absolute;
    width:720px ;
    height:420px ;
    top: 432px;
    left: 427px;
    color:var(--color-1); 
    display: flex;
    gap: 40px;
    flex-direction: column;

   h1{
    position: relative;
    width: 720px;
    height: 196px;
    font-size: 90px;
    font-family: "Montserrat-SemiBold";
    }

   h2{
    position: relative;
    width: 200px;
    height: 34px;
    font-size: 32px;
    font-family: "Montserrat-SemiBold";
   }

   p{
    position: relative;
    width: 450px;
    height: 110px;
    font-size: 24px;
    font-family: "Montserrat-Medium";

   }
}

.containericons{
    background-color: #071917;
    display: flex;
    justify-content: space-evenly;


}