@import url('variable.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************section home ******************/


/********** header ******************/
.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}


.ul__menu {

    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}

/********** main ******************/

.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;

}
.article__home {

    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article__home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article__home p{

    width: 340px;
    font-family: "Montserrat-Medium";
}


/************* section menu **********************/

.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
}

/***************section 2 ******************/

.section_2{
    position: relative;
    height: 132svh;
    background-color: var(--color-gradient-2);
}

.text2{
    display: flex;
    position: absolute;
    top:930px;
    left: 5svw;
    font-size: 55px ;
    color: white;
    font-family: "Montserrat-SemiBold";

}


.imgsect2 {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    position: relative;
    top: 70px;

    img{
        width: 96svw;
        height: 120svh;
    }
  }

/***************section 3 ******************/

.section_3{
    position: relative;
    height: 123svh;
    background-color: var(--color-gradient-2);
}


.text3{
    position: absolute;
    font-size: 55px ;
    color: white;
    font-family: "Montserrat-SemiBold";
    display: flex;
    top:800px;
    left: 5svw; 
}


.imgsect3 {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    position: relative;
    top: 0px;


    img{
        width: 96svw;
        height: 120svh;
    }
  }

/***************section 4 ******************/

.section_4{
    position: relative;
    height: 123svh;
    background-color: var(--color-gradient-2);
}

.text4{
    display: flex;
    position: absolute;
    top:800px;
    left: 5svw;
    font-size: 55px ;
    color: white;
    font-family: "Montserrat-SemiBold";
}

.imgsect4 {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    position: relative;
    top: 0px;

    img{
        width: 96svw;
        height: 120svh;
    }
  }


/************** version movil **********************/
@media (max-width: 960px) {
    .header{

        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }

    .article__home h1{
        font-size: 70px;
    }

    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
    .section_2{
        height:500px ;
    }
    .imgsect2{
        top: 40px;
        img{
            position: absolute;
            width: 780px;
            height:450px ;
        }
        
    }
    .section_3{
        height:470px ;
    }
    .imgsect3{
        top: 10px;
        img{
            position: absolute;
            width: 780px;
            height:450px ;
        }
        
    }
    .section_4{
        height:470px ;
    }
    .imgsect4{
        top:10px;
        img{
            position: absolute;
            width: 780px;
            height:450px ;
        }
        
    }
}

@media (max-width: 576px) {
    .header{

        justify-content: normal;
    }
    .div__logo{
        flex: 1;

    }
    .div__menu{
        width: 100%;

    }
    .ul__menu{
        position: relative;
        left: 30svw;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
    .section_2{
        height:47svh ;
    }
    .imgsect2{
        top: 40px;
        img{
            width:115svw;
            height:40svh;
        }
        
    }
    .section_3{
        height:43svh ;
    }
    .imgsect3{
        top: 10px;
        img{
            width:115svw;
            height:40svh;
        }
        
    }
    .section_4{
        height:43svh ;
    }
    .text4{
        width: 300px;

    }
    .imgsect4{
        top:10px;
        img{
            position: relative;
            width:115svw;
            height:40svh;
        }
        
    }
}


